aside {
	width: 28%;
	.my-profile {
		.profile-photo {
			width: 20rem;
			height: 20rem;
			background: $main-color;
			border-radius: 50%;
			margin: 5rem auto 2rem auto;
		}
		p {
			font-size: 1.4rem;
			margin-bottom: 1rem;
		}
		button {
			@include display(space-between, center);
			margin: 2rem auto 0 auto;
			padding: 0.5em 1em;
			width: 100%;
			color: #333;
			font-size: 1.8rem;
			font-weight: bold;
			background-color: $main-color;
			border-radius: 2rem;
			&::after {
				content: "";
				width: 1rem;
				height: 1rem;
				border-top: 3px solid #333333;
				border-right: 3px solid #333333;
				transform: rotate(45deg);
			}
			&:hover {
				text-decoration: none;
				background-color: #bbbbbb;
			}
		}
	}
	// .search_container {
	// 	position: relative;
	// 	box-sizing: border-box;
	// 	border: 2px solid #3879d9;
	// 	padding: 3px 10px;
	// 	border-radius: 3px;
	// 	height: 2.3em;
	// 	width: 265px;
	// 	overflow: hidden;
	// }
	// .search_container input[type="text"] {
	// 	border: none;
	// 	height: 2rem;
	// }
	// .search_container input[type="text"]:focus {
	// 	outline: 0;
	// }
	// .search_container input[type="submit"] {
	// 	cursor: pointer;
	// 	font-family: FontAwesome;
	// 	border: none;
	// 	background: #3879d9;
	// 	color: #fff;
	// 	position: absolute;
	// 	width: 3.5em;
	// 	height: 3em;
	// 	right: 0px;
	// 	top: -5px;
	// 	outline: none;
	// }
	.category-list {
		margin: 10% auto;
		h2 {
			font-size: 1.5rem;
			font-weight: bold;
			text-align: center;
			border-bottom: 1px solid $main-color;
			padding: 1.5rem;
		}
		ul {
			width: 100%;
			li {
				border-bottom: 1px solid $main-color;
				font-size: 1.5rem;
				a {
					display: block;
					padding: 1em 1em;
				}
				&:hover {
					background-color: $main-color;
				}
			}
		}
	}
}
