footer {
    width: 100%;
    padding: 3rem 0;
    background-color: $main-color;
    h3 {
        @include display(center, center);
        font-size: 5rem;
        font-weight: bold;
    }
    ul {
        &.footer-menu {
            @include display(center, center);
            margin: 0 25rem;
            li {
                font-size: 1.5rem;
                margin: 0 auto;
            }
        }
        &.sns-button {
            opacity: 0.5;
            @include display(center, center);
            width: 100%;
            li.footer-sns-icon {
                background-color: palevioletred;
            }
        }
    }
}
