$main-color: #ddd;

@mixin display($justify-contents: null, $aline-items: null) {
    display: flex;
    @if $justify-contents != null {
        justify-content: $justify-contents;
    }
    @if $aline-items != null {
        align-items: $aline-items;
    }
}

@mixin margin($top, $right, $bottom, $left) {
    margin: $top, $right, $bottom, $left
}