// 主要なブラウザのデフォルト文字サイズが16pxのため、下記の設定にすることでHTMLの文字の大きさが10pxとなる
html {
    font-size: 62.5%;
}

.contents-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    width: 72%;
}

aside {
    width: 24%;
}

// ヘッダー
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12rem;
    background-color: #ddd;
    padding: 0 5rem;
    h1 {
        font-size: 3rem;
    }
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            font-size: 1.5rem;
            margin: 0 2rem;
        }
    }
}

article.contents-list {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        border-bottom: 1rem solid #ddd;
        cursor: pointer;
        padding-bottom: 1.5rem;
    }
    p {
        font-size: 1.6rem;
        padding: 1.5rem 0;
    }
    a {
        font-size: 1.6rem;
        margin-left: auto;
        color: #0d6efd;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: #ddd;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        li {
            margin: 0 auto;
        }
    }
}